body{
  background-color: rgb(68, 68, 68);
}
.links-nav{
  color: rgb(21, 255, 0);
}
.links-ul{
  display: flex;
  justify-content: space-between;
}
.links-a{
  color: rgb(0, 110, 255);
  text-decoration: none;
} 
.text-green{
  color: rgb(21, 255, 0);
}